.menuContent{
    margin: 10px;
}

.menuElement{
    height: 30px;
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
}

.menuElementCalory{
    width: 50px;
}

.menuElementCalory p{
    font-size: 10px;
}

.menuElementName{
    width: 120px;
}

.menuElementName p{
    font-size: 17px;
}

.menuItem{
    margin: 10px;
}

.menuLink{
    color: inherit;
    text-decoration: none;
}

.menuTitle{
    height: 30px;

    align-items: center;
    border: 2px solid #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.menuTitle p{
    font-size: 17px;
}