.menuElement{
    height: 30px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuElementCalory{
    width: 50px;
}

.menuElementCalory p{
    font-size: 10px;
}

.menuElementName{
    width: 120px;
}

.menuElementName p{
    font-size: 17px;
}

.menuTitle{
    width: 80%;

    border: 1px solid black;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    margin: 10px;
}