.menuElement{
    display: flex;
    flex-direction: row;
}

.menuElementCalory{
    width: 50px;
}

.menuElementName{
    width: 100px;
}

.menuTitle{
    width: 100%;

    display: flex;
    justify-content: center;
    margin: 10px;
}